{% extends "base.html" %}
{% load static %}

{% block title %}{{ title }}{% endblock %}
{% block content %}
<div id="list-rendering">
    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <div class="large-12 medium-12 small-12 cell" v-for="sugg in suggestions">
                {% verbatim %}
                {{ sugg.suggestion }} - {{ sugg.author }} - {{ sugg.date }}
                <ul>
                    <li v-for="comm in sugg.comments"> {{ comm.comment }} - {{ comm.author }} - {{ comm.date }}</li>
                    {% endverbatim %}
                    {% if reqest.user.is_authenticated %}
                    <li><a v-bind:href="'comment/'+sugg.id+'/'">comment</a></li>
                    {% endif %}
                </ul>

            </div>

        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="https://unpkg.com/vue@next"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="{% static 'js/myvue.js' %}"></script>
{% endblock %}