{% extends "base.html" %}
{% load static %}

{% block title %}{{ title }}{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/app2.css' %}">
{% endblock %}
{% block content %}
<div id="list-rendering">
    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <div class="large-12 medium-12 small-12 cell" v-for="sugg in suggestions">
                {% verbatim %}
                <div class="card-info">
                    <div class="card-info-content">
                        <h3 class="lead">{{ sugg.suggestion }}</h3>
                        <img v-bind:src="sugg.image" v:alt="sugg.image_desc"/>
                        </br>
                        {{ sugg.author }} - {{ sugg.date }}
                        <div class="grid-container">
                            <div class="grid-x grid-padding-x">
                                <div class="large-11 medium-11 small-11 cell large-offset-1 medium-offset-1 small-offset-1 cell" v-for="comm in sugg.comments">
                                    <div class="card-info">
                                        <div class="card-info-content">
                                            <h3 class="lead">{{ comm.comment }}</h3>
                                            {{ comm.author }} - {{ comm.date }}</li>
                                        </div>
                                    </div>
                                </div>
                                <div class="large-11 medium-11 small-11 cell large-offset-1 medium-offset-1 small-offset-1 cell">
                                    {% endverbatim %}
                                    {% if request.user.is_authenticated %}
                                    <a class="button" v-bind:href="'comment/'+sugg.id+'/'">comment</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
            
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="https://unpkg.com/vue@next"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="{% static 'js/myvue.js' %}"></script>
{% endblock %}