{% extends "base.html" %}
{% load static %}

{% block title %}{{ title }}{% endblock %}
{% block css %}
{% csrf_token %}
<link rel="stylesheet" href="{% static 'css/app2.css' %}">
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-4 mb-4 mb-lg-0">
        New framing
        <img src="{% static 'pic13.jpg' %}" alt="" class="w-100 shadow-1-strong rounded mb-4" width="600px" >
    </div>        
    <div class="col-lg-4 mb-4 mb-lg-0">
        Removal of old concrete
        <img src="{% static 'pic9.jpg' %}" alt="" class="w-100 shadow-1-strong rounded mb-4" width="600px" >
    </div>
    <div class="col-lg-4 mb-4 mb-lg-0">
        Extension of kitchen, bedroom, and bathroom
        <img src="{% static 'pic12.jpg' %}" alt="" class="w-100 shadow-1-strong rounded mb-4" width="600px" >
    </div>
    <div class="col-lg-4 mb-4 mb-lg-0">
        Installation of bathroom
        <img src="{% static 'pic18.jpg' %}" alt="" class="w-100 shadow-1-strong rounded mb-4" width="600px" >
    </div>  
    <div class="col-lg-4 mb-4 mb-lg-0">
        Tile installation and kitchen island
        <img src="{% static 'pic15.jpeg' %}" alt="" class="w-100 shadow-1-strong rounded mb-4" width="600px" >
    </div>
    <div class="col-lg-4 mb-4 mb-lg-0">
        Extension of kitchen wall
        <img src="{% static 'pic14.jpg' %}" alt="" class="w-100 shadow-1-strong rounded mb-4" width="600px" >
    </div>
    <div class="col-lg-4 mb-4 mb-lg-0">
        Crown molding
        <img src="{% static 'crown.jpg' %}" alt="" class="w-100 shadow-1-strong rounded mb-4" width="600px" >
    </div>
    <div class="col-lg-4 mb-4 mb-lg-0">
        Exterior painting and roofing
        <img src="{% static 'roofing.jpg' %}" alt="" class="w-100 shadow-1-strong rounded mb-4" width="600px" >
    </div>
</div> 
    
{% endblock %}
{% block scripts %}
<script src="https://unpkg.com/vue@next"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
{% endblock %}
