{% extends "base.html" %}
{% load static %}

{% block title %}{{ title }}{% endblock %}
{% block content %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<section>
<div class="container">
		<div class="row mbr-justify-content-center">
            <div class="col-lg-10 mbr-col-md-20">
                    <div class="wrap">
                        <div class="text-wrap vcenter">
                            <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5"><span>Electrical and Plumbing</span></h2>
                            <p class="mbr-fonts-style text1 mbr-text display-10">We will assess and read an establishment’s blueprint, ensure that the wires are cut to the right length, properly install outlet boxes and components in different areas of an establishment.</p>
                            <p class="mbr-fonts-style text1 mbr-text display-10">We will install and maintain systems necessary for producing potable water and drainage in an establishment’s plumbing systems.</p>
                        </div>
                    </div>
                </div>
                <div class="wrap">
                    <div class="text-wrap vcenter">
                        <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5"> 
                            <span>Painting</span>
                        </h2>
                        <p class="mbr-fonts-style text1 mbr-text display-10">We provide both interior and exterior painting, as well as touch ups.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-10 mbr-col-md-20">
                <div class="wrap">
                    <div class="text-wrap vcenter">
                        <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">
                            <span>Remodeling</span>
                        </h2>
                        <p class="mbr-fonts-style text1 mbr-text display-10">We provide demolition and upgrades to your current house to make your dream house. Installations of kitchen cabinets or windows, crafting of drywall or wood structures, and repairs of roofs or flooring.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-10 mbr-col-md-20">
                <div class="wrap">
                    <div class="text-wrap vcenter">
                        <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">
                            <span>Construction</span>
                        </h2>
                        <p class="mbr-fonts-style text1 mbr-text display-10">Our team can add extensions to your house. Add building forms for pouring concrete, and also build and dismantle scaffolding and other temporary structures </p>
                    </div>
                </div>
            </div>
        </div>
</div>

</section>
{% endblock %}